@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

/* Selector Grupal, para los p y los h3 */
p,h3 {
    color: rgb(70, 65, 75);
}

h2 {
    color: burlywood;
    background-color: rgb(245, 235, 255);
}

/* Todos los <h2> hijos de <section> tienen color verde */
section h2 {
    color:rgb(47, 185, 47);
}

/* La lógica se aplica a lo más cercano a la llamada, un h2 dentro de un section aplica el h2 dentro del section */

/* Pseudoclase, solo comportamiento para link */
a:link{
    color:red
}

a:visited{
    color:darkcyan
}

a:hover{
    color:aliceblue;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
}